    .outerframe {
        display: inline-block;
        height: 2px;
        width: 300px; 
        padding-top: 20px;
    }
    
    .innerlabel {
        display: inline-block;
        height: 40px;
        width: 100px;
        margin-left: 10px;
        border: none;
        color: #2b7da1;
        padding-left: 20px;
    }

    .fieldset {
        display: inline-block;
    }

    .h4 {
        display: inline-block;
        padding-top: 20px;
        font-family: 'Quicksand', sans-serif;
        font-size: 1em;
        color: #2b7da1

    }
    .p {
        display: inline-block;
        font-family: 'Quicksand', sans-serif;
        font-size: 1em;
        color: #2b7da1

    }

    .body {
        display: inline-block;

    }

    fieldset {
        display: inline-block;
        background-color: #b2d0dd;
        color: #2b7da1;
        border: none;
      }

.POC {
    &:before {
        content: attr(data-placeholder);
        position: absolute;
        color: #2b7da1;
        display: inline;
        width: 10px;
        padding-top: 20px;
        padding-left: 15px;
    }
}

.POC:hover::before, .POC:hover input {
    color: #000000;
  }